<!doctype html>
{% load static %}

<html xml:lang="pl" lang="pl">

<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-2" />
	<meta name="description" content="opis" />
	<meta name="keywords" content="" />

	<!-- Bootstrap -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen,projection" />
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<title>Wypożyczalnia Graszki.pl</title>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<div class="container-fluid">
			<a class="navbar-brand" href="https://graszki.pl" target="_blank">Graszki.pl</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!--<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Lista gier</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Kontakt</a>
					</li>
				</ul>

				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>

			</div>-->
		</div>
	</nav>

	<main class="container">
		<div class="bg-light p-5 rounded text-center">
			<h1>Lista gier do wypożyczenia w sklepie Graszki.pl</h1>
			<p class="lead">W celu wypożyczenia danej gry prosimy o wcześniejszy kontakt mailowy, telefoniczny lub przez FB.<br />(najlepiej dzień przed wypożyczeniem)<br />
                Liczba gier w wypozyczalni: <b>{{Ilosc_gier}}</b></p>

			<!--<a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>-->
            <div class="container">
    			<div class="row justify-content-center">

    				<div class="form-group col-4">
    					<input type="text" class="form-control" style="text-align: center" placeholder="Szukaj gry" id="searchField">
    				</div>
    			</div>
    		</div>
		</div>
		<div class="app-table">
			<table class="table table-sm table-hover">
				<colgroup>
                    <col class="col-md-1">
                    <col class="col-md-4">
					<col class="col-md-4">
					<col class="col-md-2">
				</colgroup>
				<thead class="table-light">
					<tr>
                        <th scope="col" class="text-center">Lp.</th>
						<th scope="col">Nazwa gry</th>
						<th scope="col">Orientacyjna data zwrotu</th>
						<th scope="col" class="text-center">Dostępność</th>
					</tr>
				</thead>
				<tbody>
					{% for gra in Lista_gier %}
					<tr class="{% if gra.Data_orientacyjny_zwrot != null %}table-danger{% endif %}
							   {% if gra.DostepnySklep == True %}table-success{% endif %}">
                        <td class="text-center">{{ forloop.counter }}</td>
						<td>{{ gra.Tytul }}</td>
						<td>{{ gra.Data_orientacyjny_zwrot| date:"Y-m-d"}}</td>
						<td class="text-center">
							{% if gra.DostepnySklep == True %}
								Dostępny w sklepie
							{% else %}

							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="table-output">
			<table class="table table-sm table-hover">
                <colgroup>
                    <col class="col-md-1">
                    <col class="col-md-5">
					<col class="col-md-5">
				</colgroup>
				<thead class="table-light">
					<tr id="wiersz">
                        <th scope="col" class="text-center">Lp.</th>
						<th scope="col">Nazwa gry</th>
						<th scope="col">Orientacyjna data zwrotu</th>
					</tr>
				</thead>
				<tbody class="table-body">

				</tbody>
			</table>
		</div>
	</main>
	<!-- Optional JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

<script src="{% static 'js/szukajGry.js' %}">

</script>

</html>
